{% extends 'base.html' %} {% block content %}
<br />
<section class="container-fluid">
  <nav class="navbar">
    <h5>{% block title %}Lista de Tareas{% endblock %}</h5>
    <a href="" class="btn btn-success">Agregar Tarea</a>
  </nav>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Tarea</th>
        <th scope="col">Estado</th>
        <th scope="col" colspan="2">Opciones</th>
      </tr>
    </thead>

    <tbody>
      {% for todo in todos | reverse%} {% if g.user.id == todo.created_by%}
      <tr>
        <td>
          <h5>{{ todo.title }}</h5>
          <p>{{ todo.desc }}</p>
        </td>
        <td>{{ todo.state }}</td>
        <td><a href="" class="btn btn-info btn-sm">Editar</a></td>
        <td><a href="" class="btn btn-danger btn-sm">Eliminar</a></td>
      </tr>
    </tbody>
    {% endif %} {% endfor %}
  </table>
</section>
{% endblock %}
